*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.form-inputs{
  padding: .375rem .75rem;
  border: #a4a4a4 solid 2px;
  border-radius: 8px;
  transition: all ease-in;
}
.form-inputs:focus{
  border-color: #AD88C6;
  outline: 0;
  box-shadow: 0 0 0 .25rem #E1AFD1;
  transition-duration: 0.15s;
}
/* Default label styling */
.form-label {
  color: black;
}

/* Focused label styling */
.form-label.focused {
  color: #7469B6;
}
.button{
  padding: 8px 3px;
  border: none;
  border-radius: 8px;
}
.bg-purple{
  background-color: #6d54ff;
}
.text-purple{
  color: #6d54ff;
}
.text-purple:hover{
  color: #665aac;
}
.bg-sec-purple{
  background-color: #afa1ff;
}
.btn-purple{
  color: white;
  background-color: #7469B6;
}
.btn-purple:hover{
  background-color: #3b3465;
}
.border-purple{
  border: #7469B6 solid;
}
.book-cover {
  width: 150px;
  height: 200px;
}
.book-cover-show {
  width: 100%;
  height: 400px;
}
.book-cover-show img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.book-cover1 {
  width: 70%;
  height: 400px;
}
.book-cover1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.book-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lh-0{
  line-height: 0 !important;
}
@keyframes fadeIn {
  from{
    filter: opacity(0);
    transform: translateX(-20px);
  }
  to{
    filter: opacity(100);
    transform: translateX(0);
  }
}

.saturate{
  filter: saturate(0);
}

.stok{
  width: 100px;
}
.shadow-card-book{
  box-shadow: 10px 10px #6d54ff;
} 
